table[data-sortable-table] th[role=columnheader]:not(.no-sort) {
    cursor: pointer;
}

table[data-sortable-table] th[role=columnheader]:not(.no-sort){
    background-image: url("../images/default.svg");
    background-repeat: no-repeat;
    background-position: right center;
}

table[data-sortable-table] th[aria-sort=ascending]:not(.no-sort) {
    background-image:url("../images/desc.svg");
}

table[data-sortable-table] th[aria-sort=descending]:not(.no-sort) {
    background-image:url("../images/asc.svg");
}
